/* Include this stylesheet after Milligram or merge it with your main.css */

body {
    background: #2C2F34;
    color: #f2f2f2;
}

.navigation .title, .navigation-title {
    color: #f2f2f2;
}

.navigation {
    background: #34373C;
    border-bottom: .1rem solid #1B1C1D;
}

.header {
    background-color: #141518;
}

pre {
    background: #141518;
}

.prettyprint {
    color: #f2f2f2;
}

.prettyprint.lang-md * {
    color: #f2f2f2 !important;
}

code {
    background: #141518;
}

.prettyprint .atv {
    color: rgba(73, 158, 223, 1);
}